.tProfile{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    min-height: 100svh;
    border-top: 1px solid grey;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 1rem;
    padding:1rem;
}
.sideTags{
    padding: 0.4rem 1rem;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0.5rem;
}
.sideTags:hover{
    background-color:#039ee4;
    color: white;
}
.overview{
    width: 100%;
    padding: 1.5rem;
    background-color: aliceblue;
}
.box{
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    min-width: 12rem;
    font-size: 1.8rem;
}
