.optionCont {
    max-height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    position: absolute;
    z-index: 2;
    width: 100%;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    background-color: #161616;
    overflow: auto;
  }
  
 .expanded {
    max-height: 13rem;
  }

  .option{
  padding: 0.5rem 1rem;
  color: white;
   cursor: pointer;
  }
  .option:hover{
    background-color:#1f1f20;
  }
  
  .expandIcon{
    transition: 0.3s;
    transform: rotate(0deg);
  }
.rotate{
    transform: rotate(180deg);
  }

  .selectCont{
    padding: 1rem;
    border: 1.5px solid rgb(6, 207, 106);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

